<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SWIFTSAGE_USERNAME</key>
	<string></string>
	<key>SWIFTSAGE_SERVER_USERNAME</key>
	<string></string>
	<key>SWIFTSAGE_SERVER_PASSWORD</key>
	<string></string>
	<key>SWIFTSAGE_PASSWORD</key>
	<string></string>
</dict>
</plist>
