<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSAllowsLocalNetworking</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>SwiftSage uses your mic to capture commands</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>SwiftSage uses your mic and speech recognition to capture commands</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_sagess._tcp</string>
	</array>
</dict>
</plist>
